.p-y-2 {
  padding-top: 28px;
  padding-bottom: 28px;
}
.p-y-3 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.m-b-1 {
  margin-bottom: 18px;
}
.m-t-1 {
  margin-top: 18px;
}
.counter_threeup {
  text-align: center;
}
.counter_threeup-photo img {
  height: 80px;
}
.counter_threeup-content {
  margin-top: 25px;
  margin-bottom: 35px;
}
.counter_threeup-content h5,
h6 {
  font-weight: 200;
}
