nav.navbar.navbar-expand-sm.navbar-light.bg-light.mb-3 {
  background: rgba(0, 0, 0, 0) !important;
  border-bottom: 1px solid rgb(38, 66, 103);
}
.navbar {
  padding: 0rem 1rem !important;
}
a > code {
  color: rgb(11, 34, 100) !important;
}
a > code:hover {
  color: black !important;
  border-bottom: 2px solid;
  padding: 5px;
}
