footer.page-footer.font-small.blue.pt-4 {
  background-image: linear-gradient(
    to left,
    rgba(11, 65, 152, 0.89) 0%,
    rgba(3, 39, 39, 0.89) 100%
  );
  color: rgb(255, 255, 255);
}
.footer-copyright.text-center.py-3 {
  background-image: linear-gradient(
    to left,
    rgb(11, 65, 152) 0%,
    rgb(3, 39, 39) 100%
  );
}
code {
  color: white;
}

a {
  text-decoration: none;
  color: rgb(170, 182, 245);
  font-weight: 100;
}

a:hover {
  text-decoration: none;
  color: white;
}
